<div id="header" class="jumbotron card card-image">
  <div class="text-white text-center py-5 px-4">
    <div>
      <h1 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Burger Devourer!</strong></h1>

      <h2>Add your own burger to the list below and devour it!</h2>
      <form class="text-center create-form" style="color: #757575;">
        <div class="form-group">
          <label for="newburger"></label>
          <input type="text" id="newburger" name="burger">
          <button id="addburger" class="btn btn-primary btn-rounded z-depth-0 my-4 waves-effect" type="submit">Add
            Burger</button>
        </div>
      </form>

    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

    <div class="col-xs-0 col-md-1 col-xl-1"></div>
    <div class="card container col-xs-12 col-md col-xl">
      <div class="card-header">
        <h2>Burgers to Eat</h2>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          {{#each burgers}}
          {{#unless devoured}}
          <button type="button" class="eatburger btn btn-outline-primary btn-rounded z-depth-0 my-4 waves-effect mr-3"
            id="eatbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><i
              class="fas fa-hamburger fa-lg mr-3"></i>Devour</button>
          <span><strong>{{this.burger_name}} </strong></span>
          <hr>
          {{/unless}}
          {{/each}}
        </li>
      </ul>
    </div>

    <div class="col-xs-0 col-md-1 col-xl-1"></div>

    <div class="card container col-xs-12 col-md col-xl">
      <div class="card-header">
        <h2>Devoured Burgers</h2>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          {{#each burgers}}
          {{#if devoured}}
          <button type="button" class="trashburger btn btn-outline-primary btn-rounded z-depth-0 my-4 waves-effect mr-3"
            id="trashbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><i
              class="fa fa-trash fa-lg mr-3"></i>Delete</button>
          <span><strong>{{this.burger_name}} </strong></span>
          <hr>
          {{/if}}
          {{/each}}
        </li>
      </ul>
    </div>
    <div class="col-xs-0 col-md-1 col-xl-1"></div>

  </div>
</div>